﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Important Note to Professor Singh</h1>
    <p>The backend of this web app is hosted on a SQL Server on AWS RDS. I have a Mac and I cannot install SQL Server locally. My virtual machines are extremely slow. AWS connection string: Server=database-1.cghs5fdiej4b.us-east-2.rds.amazonaws.com;Database=Patients;User Id=admin;Password=12345678;</p>
    <p>To save my living costs in Canada, I will delete the server within 3 days of submission. You may have to modify the connection string to connect this web app to your local database. Please replace the connection string in appsettings.json and PatientsContext.cs with "Server=.\\sqlexpress;Database=Patients;Trusted_Connection=True;"</p>
    <p>Also note that because this project is created on a Mac, the default ApplicationDbContext uses SQLite instead of SQL Server. See Startup.cs and replace if necessary.</p>
    <p>Thank you for understanding.</p>
</div>
