@model RZPatients.Models.DispensingUnit

@{
    ViewData["Title"] = "Delete Dispensing Unit";
}

<h1>Delete Dispensing Unit</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dispensing Unit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DispensingCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DispensingCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DispensingCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
