@model RZPatients.Models.DispensingUnit

@{
    ViewData["Title"] = "Edit Dispensing Unit";
}

<h1>Edit Dispensing Unit</h1>

<h4>Dispensing Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="DispensingCode" class="control-label"></label>
                <input asp-for="DispensingCode" class="form-control" readonly />
                <span asp-validation-for="DispensingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
